# project specific
file

# general #
*.[oa] *~
.*.sw[po]

## Windows
Thumbs.db
desktop.ini

## OS X
.DS_Store
.Spotlight-V100
.Trashes
._*

# jekyll #
_site
.sass-cache
.jekyll-metadata
derby.log
Gemfile.lock
